using Checkpointing
using Plots
using Zygote

mutable struct Heat
    Tnext::Vector{Float64}
    Tlast::Vector{Float64}
    n::Int
    λ::Float64
    tsteps::Int
end

function advance(heat)
    next = heat.Tnext
    last = heat.Tlast
    λ = heat.λ
    n = heat.n
    for i in 2:(n-1)
        next[i] = last[i] + λ*(last[i-1]-2*last[i]+last[i+1])
    end
    return nothing
end


function sumheat(heat::Heat, chkpt::Scheme)
    @checkpoint_struct revolve heat for i in 1:tsteps
        heat.Tlast .= heat.Tnext
        advance(heat)
    end
    return reduce(+, heat.Tnext)
end

n = 100
Δx=0.1
Δt=0.001
# Select μ such that λ ≤ 0.5 for stability with μ = (λ*Δt)/Δx^2
λ = 0.5
# time steps
tsteps = 500

# Create object from struct
heat = Heat(zeros(n), zeros(n), n, λ, tsteps)

# Boundary conditions
heat.Tnext[1]   = 20.0
heat.Tnext[end] = 0

# Set up AD
# Number of available snapshots
snaps = 4
verbose = 0
revolve = Revolve{Heat}(tsteps, snaps; verbose=verbose)

# Compute gradient
g = Zygote.gradient(sumheat, heat, revolve)
src/error.txt
src/error2.txt
time.pb.gz
src/error_1_energy.txt
src_withspeedups/for_sverdrup.bash
src_withspeedups_playground/advance.jl
src_withspeedups_playground/build_discrete_operators.jl
src_withspeedups_playground/build_grid.jl
src_withspeedups_playground/compute_time_deriv.jl
src_withspeedups_playground/cost_func.jl
src_withspeedups_playground/ExplicitSolver.jl
src_withspeedups_playground/init_params.jl
src_withspeedups_playground/init_structs.jl
src_withspeedups_playground/main_data_misfit.jl
src_withspeedups_playground/main_energy_chkp.jl
src_withspeedups_playground/Manifest.toml
src_withspeedups_playground/Project.toml
src_withspeedups_playground/temp.jl
src_withspeedups_playground/.DS_Store
figures/eta_integration_90days.gif
figures/eta_integration_6months.gif
figures/u_integration_1month.gif
sverdrup_files/for_sverdrup.bash
sverdrup_files/spinup_for_sverdrup.jl
