*.gif
*.err
*.out
*.txt
*.bash
*.h5
*.nc
*.mp4
*.png

# ignoring data files
/old_dissipation
/spinup_files_newdissipation
/results_with_parameterization
/tuned_weights_newdissipation
/notusinganymore
/dissipation_constant/tuned_weights/didntwork

# figures and files not needed 
/dissipation_smagorinsky
/dissipation_constant/manystates_notensemble_madnlp.jl
/dissipation_constant/eddypaper_figures
/dissipation_constant/spinup_files
/dissipation_constant/computing_*
/dissipation_constant/ke_transfers
/dissipation_constant/debugging.jl
/dissipation_constant/generalizability
/dissipation_constant/fixing_singleinitcondruns
/dissipation_constant/offline_files
/dissipation_constant/coarse_resolution_runs_withtunedweights

run_experiment.jl